body {
  font-family: Arial, sans-serif;

  font-size: 16px;

  line-height: 1.5;

  color: #333;

  margin: 0;
}

/* Header */

header {
  background-color: #333;

  padding: 20px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;
}

.logo a {
  font-size: 24px;

  font-weight: bold;

  color: orangered;

  text-decoration: none;
}

nav {
  display: inline-block;
}

nav ul {
  list-style: none;

  margin: 0;

  padding: 0;
}

nav li {
  display: inline-block;

  margin-left: 20px;
}

nav a {
  color: orange;

  text-decoration: none;

  font-weight: bold;
}

nav a:hover {
  color: orange;
}

/* Main */

main {
  margin-top: 100px;

  padding: 50px;
}

section {
  margin-bottom: 50px;
}
h1 {
  font-size: 40px;
  margin-top: 0;
}

h2 {
  font-size: 36px;

  margin-bottom: 20px;
}

p {
  font-size: 18px;

  line-height: 1.5;

  margin-bottom: 20px;
}

.button {
  display: inline-block;

  background-color: #333;

  color: #fff;

  padding: 10px 20px;

  border-radius: 5px;

  text-decoration: none;
}

.button:hover {
  background-color: #555;
}
.cta-button {
  display: inline-block;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

/* Footer */

footer {
  background-color: #333;

  color: #fff;

  padding: 20px;

  text-align: center;

  margin-top: 50px;
}

footer p {
  font-size: 16px;

  margin: 0;
}
